.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
  color: white;
}

img{
  width: 100%;
}

body{
  background-image: url("../img/felt.png");
}

.player-container{
  color: yellow;
}